<h1>Welcome to Awesome Answers</h1>

<%= image_tag 'jeopardy.jpg', style: 'width: 50vmin; border-radius: 5px;' %>

<%= javascript_pack_tag 'hello_react' %>

<div class='abc'>
  <div class='xyz'>
    <p>XYZ</p>
  </div>
  <div class='cde'>
    <p>CDE</p>
  </div>
</div>

<!--
<%= 1 + 1 %>
<% a = 1 %>
<%= a %>
-->

<%# this is a comment %>
